:root {
    --heading-font: 'Limelight', serif;
    --body-font: 'DM Serif Text', serif;
    --primary-color: rgb(37, 63, 54);
    --secondary-color: rgb(190, 217, 204);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    align-items: center;
    background-color: var(--secondary-color);
    padding-top: 15px;
}

h1 {
    font-family: var(--heading-font);
    font-size: 2rem;
    padding-left: 1rem;
}

h2 {
    font-family: var(--body-font);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

nav {
    max-width: 700px;
    margin: 1rem auto;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: var(--primary-color);
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: var(--body-font);
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: black;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}

/******************/

footer{
    text-align: center;
    font-family: var(--body-font);
    background-color: var(--secondary-color);
    color:black;
    padding: .5rem;
}