:root{
    --font: 'Lexend Deca', 'serif';
    --primary-color: rgb(7, 18, 48);
    --secondary-color: #000000;
}

*{
    margin: 0;
    padding: 0;
}

header h1 {
    font-family: var(--font);
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
}

picture img,
picture source {
    width: 100%;
    height: auto;
    display: block;
}

main p {
    text-align: center;
    padding: 10px;
    font-family: var(--font);
}

main h2 {
    padding: 10px;
    text-align: center;
    font-family: var(--font);
}

footer {
    color: white;
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    font-family: var(--font);
}

.weather h2{
    border-top: 1px solid rgba(0, 0, 0, 0.103);
}

.data div {
    border-top: 20px solid rgba(22, 51, 33, 0.863);
    padding-bottom: 20px;
}

.mobile-img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}