@media screen and (min-width: 510px) {


main {
    position: relative;
}

.data {
    position: absolute;
}

.weather {
    position: absolute;
    right:0%; 
    top:50%;
}

.data {
    position: absolute;
    left: 0%;
    top: 10px;
}

.weather div,
.data div {
    display: block;
    padding: 1.8rem 3.5rem;
    margin: 20px;
    background-color: rgba(214, 221, 215, 0.623);
    padding-top: 60px;
}

main p {
    padding-top: 15px;
}

main h2 {
    background-color: rgba(22, 51, 33, 0.863);
    color: white;
    position: absolute;
    left: 10px;
}

.data div {
    border-top: none;
}

.data h2{
    bottom: 360px;
    padding-left: 140px;
}

.weather h2{
    bottom: 230px;
    padding-left: 70px;
}

.weather h2::after {
    content: "  ☀️";
}

.mobile-img {
    display: none;
}

}