@media screen and (min-width: 800px) {

    header {
        background-color: rgb(37, 63, 54);
        color: #fff;
    }

    .navigation a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

    .navigation a:hover,
    .navigation a:active {
            color:white;
            background-color: black;   }

    main {
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        display: flex;
        }
    
    #menu {
        display: none; 
    }

    .navigation li {
        display: block; /* change state in small view */
        flex: 1 1 100%;      }

}